// Mixins
@mixin font-builder($ss-font-family, $ss-font-size, $ss-font-weight, $ss-line-height) {
    font-family: $ss-font-family;
    font-size: $ss-font-size;
    font-weight: $ss-font-weight;
    line-height: $ss-line-height;
}

@mixin objCover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    font-family: "object-fit: cover;";
}

@mixin positionAbsFull {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

@mixin mobileSlider {
    &.slick-slider {
        @include media-breakpoint-up(lg) {
            padding: 0;
        }
    }

    &.row {
        margin: 0;
    }

    .slick {
        &-list {
            
            @include media-breakpoint-up(md) {
                padding: 1rem 0;
                height: auto !important;
            }

            @include media-breakpoint-up(lg) {
                padding: 0;
                transform: none !important;
                overflow: visible;
                width: 100%;
            }
        }

        &-track {
            @include media-breakpoint-up(md) {
                display: flex;
            }

            @include media-breakpoint-up(lg) {
                flex-wrap: wrap;
                justify-content: center;
                transform: none !important;
                width: 100% !important;
            }
        }

        &-slide {
            @include media-breakpoint-up(md) {
                height: inherit;
            }
        }

        &-arrow {
            @include media-breakpoint-up(lg) {
                display: none !important;
            }
        }

        &-dots {
            @include media-breakpoint-up(lg) {
                display: none !important;
            }
        }
    }

    [class*="col-"] {
        @include media-breakpoint-up(lg) {
            margin-bottom: 1.875rem;
            width: 100% !important;
        }

        @include media-breakpoint-down(lg) {
            flex: 0 0 auto;
        }
    }
}

.mobile-slider {
    @include mobileSlider();
}

.object-cover {
    @include objCover();
}

.position-abs {
    @include positionAbsFull();
}