# Wordpress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore

# Core
#
# Note: if you want to stage/commit WP core files
# you can delete this whole section/until Configuration.
/wp-content/languages
/license.txt
/readme.html

# Configuration
wp-config.php

# Uploads
/wp-content/uploads/

# Log files
*.log

# htaccess
/.htaccess

# Theme files and folders
/wp-content/themes/gli/node_modules