// Banner

.banner {
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    min-height: 32.5rem;
    padding-bottom: 2rem;

    @include media-breakpoint-up(sm) {
        min-height: 540px;
    }

    @include media-breakpoint-up(md) {
        min-height: 620px;
    }

    @include media-breakpoint-up(xl) {
        min-height: 780px;
    }

    &:before {
        content: '';
        @extend .position-abs;
        z-index: -1;
        background-color: rgba(255, 255, 255, .55);

        @include media-breakpoint-up(lg) {
            right: 40%;
            background: linear-gradient(106.32deg, $white 53.5%, $white 53.5%, rgba(217, 217, 217, 0) 91.91%);
            opacity: 1;
        }
    }

    &-content {
        color: $dark-gray-100;
        @include font-size(1.125rem);

        @include media-breakpoint-up(lg) {
            @include font-size(1.25rem);
        }

        @include media-breakpoint-up(xl) {
            @include font-size(1.5rem);
        }

        @include media-breakpoint-down(md) {
            padding: 2rem 0;
        }

        @include media-breakpoint-down(xs) {
            padding: 1rem 0;
        }

        h1 {
            font-weight: 700;
            color: $dark-black;
        }

    }

    &-inner {
        padding: 8rem 0;

        // @include media-breakpoint-up(sm) {
        //     padding: 6rem 0;
        // }

        // @include media-breakpoint-up(lg) {
        //     padding: 7rem 0;
        // }

        @include media-breakpoint-up(xxl) {
            padding: 8rem 0;
        }
    }

    &-info {
        color: $white;

        h1 {
            color: $white;
            font-weight: 500;
            @include font-size(2.5rem);

            // @include media-breakpoint-up(md) {
            //     @include font-size(3rem);
            // }

            // @include media-breakpoint-up(xl) {
            //     @include font-size(3.625rem);
            // }
        }
    }

    &-breadcrumbs {

        a {
            color: $white;
            text-decoration: none;

            &:hover {
                color: $primary;
            }
        }
    }
}