// Banner

.banner {
    position: relative;
    z-index: 1;
    min-height: 21.875rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    align-items: center;
    padding-bottom: 2rem;
    overflow: hidden;

    @include media-breakpoint-up(md) {
        min-height: 600px;
    }

    @include media-breakpoint-up(xl) {
        min-height: 780px;
    }

    @include media-breakpoint-down(md) {
        // background-image: none !important;
        // padding-top: 56%;
    }

    @media (min-width: 0\0) {
        height: 42.875rem;
    }

    // &>img {
    //     @extend .object-cover;

    //     @include media-breakpoint-down(md) {
    //         // display: block !important;
    //         height: 25rem;
    //     }

    //     @include media-breakpoint-down(sm) {
    //         height: 20rem;
    //     }

    //     @include media-breakpoint-down(xs) {
    //         height: 15rem;
    //     }
    // }

    &:before {
        @extend .position-abs;

        @include media-breakpoint-up(lg) {
            content: '';
            z-index: -1;
            background-color: #ECE9E6;
            /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);
            /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #FFFFFF, #ECE9E6);
            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        }
    }

    &-content {
        color: $secondary;
        @include font-size(1.125rem);

        @include media-breakpoint-up(lg) {
            @include font-size(1.25rem);
        }

        @include media-breakpoint-up(xl) {
            @include font-size(1.375rem);
        }

        @include media-breakpoint-down(md) {
            padding: 2rem 0;
        }

        @include media-breakpoint-down(xs) {
            padding: 1rem 0;
        }

    }

    &-inner {
        min-height: 12.875rem;
        display: flex;
        align-items: center;
        padding: 2rem 0;
        text-align: center;

        @include media-breakpoint-up(sm) {
            min-height: 14.375rem;
            padding: 3rem 0;
        }

        @include media-breakpoint-up(md) {
            // min-height: 16.875rem;
        }

        @include media-breakpoint-up(lg) {
            // min-height: 18.875rem;
            text-align: inherit;
        }

        // @include media-breakpoint-up(xl) {
        //     min-height: 21.875rem;
        // }

        @media (min-width: 0\0) {
            height: 21.875rem;
        }
    }

    &-info {
        color: $white;

        h1 {
            color: $white;
            font-weight: 500;
            @include font-size(2.5rem);

            // @include media-breakpoint-up(md) {
            //     @include font-size(3rem);
            // }

            // @include media-breakpoint-up(xl) {
            //     @include font-size(3.625rem);
            // }
        }
    }

    &-breadcrumbs {

        a {
            color: $white;
            text-decoration: none;

            &:hover {
                color: $primary;
            }
        }
    }
}